* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.logo {
  position: absolute;
  height: 32px;
  width: 228px;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  align-self: center;
  width: 730px;
  padding: 64px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  z-index: 2;
  position: absolute;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  z-index: 0;
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

.description {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  margin: auto;
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  list-style: none;
  margin-top: 60px;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  display: inline-block;
  width: 250px;
}

.table__cell_margin {
  margin-bottom: 60px;
}

.table__heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.table__paragraph {
  font-size: 18px;
}

.feynman {
  position: relative;
  height: 890px;
}

.feynman__title {
  position: relative;
  width: 648px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  position: relative;
  margin: 70px auto 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__image {
  z-index: 0;
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  z-index: 1;
  position: relative;
  padding-top: 90px;
  color: white;
}

.section-subtitle_theme_dark {
  z-index: 1;
  position: relative;
  color: white;
}

.table_theme_dark {
  z-index: 1;
  position: relative;
  margin-bottom: 90px;
}

.kaufman__triangle {
  z-index: 0;
  position: absolute;
  width: 877px;
  top: 0;
  right: -210px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  display: flex;
  position: relative;
  background-color: #1f1f1f;
  color: white;
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
}

.footer__column-link a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  transition: 0.2s;
}

.footer__column-link a:hover {
  color: #2f80ed;
  transition: 0.2s;
}